*{margin:0 auto;
  padding:0;
  font-size:14px;}
.body{height:1386px;
      width:980px;
	 }
.nav{height:61px;
      width:980px;	 }

.nav  #title{
	height:61px;
	width:110px;
	font-size:12px;
	line-height:95px;
	font-family:黑体;
	color:#ffffff;
	float:left;
	background:red;
	margin-left:40px;
}
.nav #date{
	height:12px;
	color:#d45d5c;
	font-family:黑体;
	float:right;
	margin-top:40px;
    margin-right:40px;	
}
.hr_1{width: 892px; 
     border-top: 2px solid #938e8c; 
	 bottom: 0px;}

.main-up {
	height:301px;
	margin-top:20px;
	overflow:hidden;
} 
.main-up #lf{
	width:641px;
	margin-left:40px;
}
.main-up #rt{
	position:relative;
	top:-300px;
	left:730px;
}
.hr_2{
	width:203px;
	border-top:2px solid #cc8091;
	position:absolute;
	right:210px;
	top:80px;
}
.main-up #rt h1{
	font-family:微软雅黑;
	font-size:24px;
	color:#000000;
	text-decoration:underline;
	line-height:34px;
}
.main-up #rt h1:first-letter{ font-size: 1.5em;}/*首字母放大*/
.main-up #rt p{
	font-family:楷体;
	font-size:12px;
	color:#676767;
	line-height:10px;
	font-style:italic;
}
.main-up #big{
	font-size:116px;
	font-family:微软雅黑;
	color:#75b86b;
	font-style:oblique;
	position: relative; left: -20px;margin-top: -10px
}
#m-ban span{
	display:inline-block;
	margin-right:18px;
	margin-top:-21px;
}
#m-ban #left{
	font-size:55px;
	font-family:微软雅黑;
	color:#cc8091;
	position:relative;
	margin-top:-30px;
	
}
#m-ban #right #css{
	font-size:21px;
	font-family:微软雅黑;
	color:#cc8091;
	position: relative;
	top:-5px;
	left:-20px;
}
#m-ban #right #sm{
	font-size:12px;
	font-family:微软雅黑;
	color:#231815;
	position: relative;
	bottom:-3px;
	left:-20px;
}
.main-dw{
	
	margin-top:40px;
	overflow:hidden;
}
.main-dw #what{
	height:200px;
	width:250px;
	float:left;
	margin-left:40px;
}
#what span{color:green;}
.main-dw #when{
	width:200px;
	height:200px;
	float:left;
	margin-left:10px;
	margin-right:20px;
}
#when span{color:#d2994f;}
.main-dw #how{
	width:200px;
	height:200px;
	float:left;
}
#how span{color:#cc7680;}
.main-dw span {
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}
.main-dw p {
	font-size:12px;
	color:#231815;
	font-family:微软雅黑;
	line-height:16px;
	opacity:0.7;
}
#how ul li{
	list-style:none;
	font-size:12px;
	color:#231815;
	font-family:微软雅黑;
	line-height:16px;
	opacity:0.7;
	margin-top:15px;
	margin-left:30px;
}
#how ul em{
	font-size:12px;
	color:#cd4a48;
	font-family:微软雅黑;
	line-height:16px;
	opacity:0.7;
	
}
.article{
	
}
.article .a-left{
	width:440px;
	height:651px;
	float:left;
	margin-left:40px;
}
.article .a-left .a-up h1{
	font-family:黑体;
	font-size:72px;
	color:#f5e327;
	font-weight:bold;
	font-style:oblique;
}
.article .a-left .a-up h2{
	font-family:黑体;
	font-size:33px;
	color:#11456b;
	font-weight:bold;
	font-style:oblique;
}
.article .a-left .a-up  h1 span{
	font-family:黑体;
	font-size:42px;
	color:#11456b;
	font-weight:bold;
	line-height:16px;
}
.hr_3{
	border-top: 2px solid #11456b;
}
.test {
	margin-top:30px;
}
.article .test p{
	font-family:宋体;
	font-size:12px;
	line-height:16px;
	color:#767777;
	text-indent:2em
}
.article .test p span {
	font-family:微软雅黑;
	font-size:70px;
	color:#f5e327;
}
.rt-img img{
	float:right;
	margin:12px;
}
.article .a-right{
	width:458px;
	height:275px;
	float:right;
	margin-top:30px;
	margin-left:40px;
}
.rt-cover{
	background:rgba(0,0,0,0.3);/*透明度*/
	width:458px; 
	height:61px; 
 	position:relative;
	bottom:62px;
}
.rt-cover p  {
	font-family:微软雅黑;
	font-size:26px;
	color:#ffffff;
	border-left:3px solid #72b16a;
	font-style:none;
	line-height:26px;
	padding-top:12px;
	
}
.rt-cover  span {
    font-size:12px;
	font-family:微软雅黑;
	font-style:italic;
	color:#72b16a;
	letter-spacing:140%;/*字间距*/
	height:29px;
	padding-top:10px;
	margin-left:20px;
	margin-top:10px;
}
.a-rt-test{
	background:#eafecf;
	width:459px;
	height:318px;
	margin-top:10px;
}
.a-rt-test ul{
	padding-top:20px;
}
.a-rt-test ul li{
	list-style-type:none;
	margin:15px;
	line-height:24px;
	text-align:left;
	padding-left:1px;
}
.a-rt-test ul em {
	font-size:13px;
	color:#5a5b5b;
	font-family:微软雅黑;
	font-style:italic;
	text-align:right;
}
.a-rt-test2{
	background:#db3e75;
	width:260px;
	height:160px;
	float:left;
	margin-top:10px;
}
.red-0{
	font-size: 110px; 
	color:#fff; 
	font-family:"Microsoft YaHei"; 
	float:left; 
	margin-left:10px; 

}
.red_rg { 
	float:left; 
 	width:170px; 
 	height: 86px; 
 	border-left:2px solid #fff;  
 	margin-top: 34px; 
 }
 
.rg_top  { 
 	font-size:21px; 
	color:#fff; 
 	font-family:"SimHei"; 
	font-style:italic; 
	line-height:22px; 
 	margin-left:5px; 
 	margin-bottom:10px; 
 } 
 .rg_bom { 
 	font-size: 12px; 
 	color:#fff; 
 	font-family:"SimHei"; 
 	line-height:6px; 
 	line-height:12px; 
 	margin-left:5px; 
 } 
.a-rt-test3 {
	width:160px;
	height:160px;
	float:right;
}
.helwod{
	font-family:"SimHei";
	font-size:14px;
	font-style:italic;
	color:#5a5b5b;
	line-height:16px;
	margin-top:-20px;
}
.lf_con ,.rg_con{
	width:40px;
	font-size:72px;
	color:#d45d5c;
	font-family:"SimHei";
	display:inline-block;
	line-height:40px;
	position:relative;
	
}
.lf_con{
	top:40px;
	left:-55px;
}
.rg_con{
	left:125px;
	top:0px;
}
.footer{
	height:61px;
    width:980px;
	position:absolute;
	top:1300px;
}
.footer span {
	height:12px;
	color:#d45d5c;
	font-family:黑体;
	float:right;
	margin-bottom:-12px;
    margin-right:40px;	
}
.hr_4{width: 892px; 
     border-top: 1px solid #938e8c; 
	 bottom:0px;}